## Creat Function to change docx to csv

In [1]:
# pip install docx2txt

In [2]:
import docx2txt

from os import listdir
from os.path import isfile, join,isdir

import pandas as pd

In [3]:
data_path = "../essay_grader/data/Essays/"

In [4]:
dirname = listdir(data_path)

In [5]:
dirname = [f for f in listdir(data_path) if isdir(join(data_path, f))]

In [6]:
dirname

['2017', '2019', '2020', '2018']

In [7]:
data = []
for year in dirname:
    files = [f for f in listdir(data_path+year) if isfile(join(data_path+year, f)) and not f.startswith(".")]
    for i in files:
        try :
            text = docx2txt.process(data_path+year+'/'+i)
            data.append([text, year,i])
        except:
            print(year,i)

2017 4, 2 - TOK_essay_lynn.doc
2019 4, 2 - Dominic_Xu_Daran_2_1570_hbn244.doc

In [8]:
df = pd.DataFrame(data, columns=["text","year","name"])

In [9]:
df.shape

(497, 3)

In [10]:
df.head()

,text,year,name
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx"
1,"Our brains seek coherence, structure, and orde...",2017,"7, 6 - Eva GuoTOK_final_final_draft.docx"
2,In American Heritage® Dictionary of the Englis...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay..."
3,The statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx"
4,Human are pattern-seeking animals because patt...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D..."

In [11]:
df["title"]=df['name'].apply(lambda x:int(x.split(",")[1].strip()[0]))
df['score'] = df['name'].apply(lambda x:int(x.split(",")[0]))

In [12]:
df.dtypes

text     object
year     object
name     object
title     int64
score     int64
dtype: object

In [13]:
df['level']= df["score"].apply(lambda x:(x-1)//2+1)

In [14]:
df.sample(3)

,text,year,name,title,score,level
427,‘Suspension of disbelief’ refers to a human be...,2018,"4, 4 - gny262-Selena_Shi_Zhengyue_G12-6_TOK_Es...",4,4,2
316,Most of people believe that the new knowledge ...,2020,"4, 6 - hnh335_Kun_Chen_Title6_1597.docx",6,4,2
8,Pattern is a kind of a consistent phenomenon o...,2017,"9, 6 - Vincent_Ru_TOK_Essay.docx",6,9,5

In [15]:
title_2017 = {
    1:"It is only knowledge produced with difficulty that we truly value.",
    2:"Facts are needed to establish theories but theories are needed to make sense of facts.",
    3:"Should key events in the historical development of areas of knowledge always be judged by the standards of their time?",
    4:"In the production of knowledge, traditions of areas of knowledge offer correctives for ways of knowing.",
    5:"Given access to the same facts, how is it possible that there can be disagreement between experts in a discipline?",
    6:"Humans are pattern-seeking animals and we are adept at finding patterns whether they exist or not",
}

In [16]:
title_2018 = {
    1:"The fields of study of academic disciplines can overlap, but adopting interdisciplinary approaches to the production of knowledge leads only to confusion.",
    2:"We know with confidence only when we know little; with knowledge doubt increases",
    3:"Without the assumption of the existence of uniformities there can be no knowledge.",
    4:"'Suspension of disbelief' is an essential feature of theatre. Is it essential in other areas of knowledge?",
    5:"The quality of knowledge produced by an academic discipline is directly proportional to the duration of historical development of that discipline.",
    6:"Robust knowledge requires both consensus and disagreement.",
}

In [17]:
title_2019 = {
    1:"The quality of knowledge is best measured by how many people accept it.",
    2:"The production of knowledge is always a collaborative task and never solely a product of the individual.",
    3:"Do good explanations have to be true?",
    4:"Disinterestedness is essential in the pursuit of knowledge.",
    5:"The production of knowledge requires accepting conclusions that go beyond the evidence for them.",
    6:"One way to assure the health of a discipline is to nurture contrasting perspectives.",
}

In [18]:
title_2020 = {
    1:"Others have seen what is and asked why. I have seen what could be and asked why not",
    2:"There is a sharp line between describing something and offering an explanation of it.",
    3:"Does it matter that your personal circumstances influence how seriously your knowledge is taken?",
    4:"The role of analogy is to aid understanding rather than to provide justification.",
    5:"Given that every theory has its limitations, we need to retain a multiplicity of theories to understand the world.",
    6:"Present knowledge is wholly dependent on past knowledge."
}

In [19]:
mapping ={
    '2017': title_2017 ,
    '2018': title_2018,
    '2019': title_2019,
    '2020': title_2020,   
}

In [20]:
df.head()

,text,year,name,title,score,level
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2
1,"Our brains seek coherence, structure, and orde...",2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4
2,In American Heritage® Dictionary of the Englis...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4
3,The statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4
4,Human are pattern-seeking animals because patt...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4

In [21]:
for index,row in df.iterrows():
    row['title_name']= mapping[row['year']][row['title']]
    df.loc[index, 'title_name'] = row['title_name']

In [22]:
df.head()

,text,year,name,title,score,level,title_name
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss..."
1,"Our brains seek coherence, structure, and orde...",2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...
2,In American Heritage® Dictionary of the Englis...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss..."
3,The statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...
4,Human are pattern-seeking animals because patt...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...

In [23]:
df.shape

(497, 7)

In [24]:
df.head()

,text,year,name,title,score,level,title_name
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss..."
1,"Our brains seek coherence, structure, and orde...",2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...
2,In American Heritage® Dictionary of the Englis...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss..."
3,The statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...
4,Human are pattern-seeking animals because patt...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...

## Play with Spacy

In [1]:
# Import the English language class
from spacy.lang.en import English

# Create the nlp object
nlp = English()

# Process a text
doc = nlp("This is a sentence.")

# Print the document text
print(doc.text)

This is a sentence.

In [2]:
doc[0]

This

In [32]:
import spacy

nlp = spacy.load("en_core_web_sm")

doc = nlp("she ate 1 pizza.")
for token in doc:
    print(token.text, token.pos_, token.dep_, token.head.text)

she PRON nsubj ate
ate VERB ROOT ate
1 NUM nummod pizza
pizza NOUN dobj ate
. PUNCT punct ate

In [39]:
nlp = spacy.load("en_core_web_sm")

text = "New iPhone X release date leaked as Apple reveals pre-orders by mistake"

# Process the text
doc = nlp(text)

# Iterate over the entities
for ent in doc.ents:
    # print the entity text and label
    print(ent.text, ent.label_)

# Get the span for "iPhone X"
iphone_x = doc[1:3]

# Print the span text
print('Missing entity:', iphone_x.text)

Apple ORG
Missing entity: iPhone X

## Use spacy to build model

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import spacy

In [100]:
df = pd.read_csv("../essay_grader/data/essay_data1.csv")

In [44]:
# df.text[0]

In [24]:
import os
import sys
path = os.path.abspath('..')
sys.path.append(path)
from essay_grader.lemmatize import lemmatize

In [25]:
from essay_grader.lemmatize import lemmatize
from essay_grader.punctuation import clean_string
from essay_grader.biliography import remove_all
from essay_grader.vectorize import doc2vec_vectorize

In [12]:
# sys.path.append('/Users/katie/code/others/nlp-essay-grader/')

In [26]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
df1= lemmatize(df[:10], col='text')

2020-08-20 09:47:34 WARNING: Can not find mwt: default from official model list. Ignoring it.
2020-08-20 09:47:34 INFO: Loading these models for language: en (English):
=======================
| Processor | Package |
-----------------------
| tokenize  | ewt     |
| pos       | ewt     |
| lemma     | ewt     |
=======================

2020-08-20 09:47:34 INFO: Use device: cpu
2020-08-20 09:47:34 INFO: Loading: tokenize
2020-08-20 09:47:34 INFO: Loading: pos
2020-08-20 09:47:35 INFO: Loading: lemma
2020-08-20 09:47:35 INFO: Done loading processors!

In [15]:
pip install stanza

In [35]:
import stanza
stanza.download("en")

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/master/resources_1.1.0.json: 122kB [00:08, 15.1kB/s]
2020-08-19 17:55:58 INFO: Downloading default packages for language: en (English)...
Downloading http://nlp.stanford.edu/software/stanza/1.1.0/en/default.zip: 100%|██████████| 428M/428M [09:37<00:00, 741kB/s]
2020-08-19 18:06:04 INFO: Finished downloading models and saved to /Users/katie/stanza_resources.

In [29]:
df1.head()

,text,year,name,title,score,level,title_name,lemmatized_text
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...","[[the, question, be, ask, that, ,, in, the, sa..."
1,"Our brains seek coherence, structure, and orde...",2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...,"[[we, brain, seek, coherence, ,, structure, ,,..."
2,In American Heritage® Dictionary of the Englis...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss...","[[in, American, Heritage®, dictionary, of, the..."
3,The statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...,"[[the, statement, in, the, prompt, argue, that..."
4,Human are pattern-seeking animals because patt...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...,"[[human, be, pattern, -, seek, animal, because..."

In [61]:
df = remove_all(df)

In [62]:
df = clean_string(df)

In [49]:
# df.head().text[0]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = ['level']), df['level'], random_state = 0, test_size = 0.2)

## USE tfidf and RidgeClassifier to build ML model

In [24]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score


tfidf = TfidfVectorizer(ngram_range=(1,3), max_features=300)
train_test = tfidf.fit_transform(X_train['text'])

clf = RidgeClassifier()
clf.fit(train_test, y_train)

y_pred = clf.predict(tfidf.fit_transform(X_test['text']))
                   
accuracy_score(y_test, y_pred)

0.48

In [25]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00        13
           2       0.49      0.94      0.64        48
           3       0.38      0.11      0.17        27
           4       0.00      0.00      0.00        12

   micro avg       0.48      0.48      0.48       100
   macro avg       0.22      0.26      0.20       100
weighted avg       0.34      0.48      0.35       100

/Users/katie/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## Play with Pickle

In [39]:
import pickle

In [40]:
df1.to_pickle('../essay_grader/pickle_data/df1.pkl')

In [41]:
with open("../essay_grader/pickle_data/df1.pkl", "rb") as file:
        df2 = pickle.load(file)

In [46]:
df2.head(1)

,text,year,name,title,score,level,title_name,lemmatized_text
0,"The question is asking that, in the same disci...",2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...","[[the, question, be, ask, that, ,, in, the, sa..."

In [50]:
data = df2.copy()

In [63]:
data = df.copy()

In [64]:
data.shape

(497, 7)

## vocabulary richness

In [52]:
from nltk import word_tokenize

In [65]:
def vocab_richness(text):
    tokens = word_tokenize(text)
    total_length = len(tokens)
    unique_words = set(tokens)
    unique_word_length = len(unique_words)
    return unique_word_length/total_length

data['vocab richness'] = data.text.apply(vocab_richness)

data.head()

,text,year,name,title,score,level,title_name,vocab richness
0,the question is asking that in the same discip...,2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...",0.232696
1,our brains seek coherence structure and order ...,2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...,0.360864
2,in american heritage dictionary of the english...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss...",0.413621
3,the statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...,0.406739
4,human are patternseeking animals because patte...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...,0.267023

In [66]:
data.groupby("level")['vocab richness'].mean()

level
1    0.330267
2    0.332318
3    0.329388
4    0.335013
5    0.337160
Name: vocab richness, dtype: float64

In [67]:
data.groupby("level")['vocab richness'].std()

level
1    0.037853
2    0.054656
3    0.037913
4    0.040205
5    0.034549
Name: vocab richness, dtype: float64

- “meanSentenceLength” calculating the average sentence length 
- “meanWordSyllable” calculating the average word syllables

In [70]:
def syllables(word):
    syllable_count = 0
    vowels = 'aeiouy'
    if word[0] in vowels:
        syllable_count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            syllable_count += 1
    if word.endswith('e'):
        syllable_count -= 1
    if word.endswith('le') and len(word) > 2 and word[-3] not in vowels:
        syllable_count += 1
    if syllable_count == 0:
        syllable_count += 1
    return syllable_count

In [71]:
def mean_word_syllable(text):
    tokens = word_tokenize(text)
    syl = 0
    for token in tokens:
        syl += syllables(token)
    total_length = len(tokens)
    return syl/total_length

data['meanWordSyllable'] = data.text.apply(mean_word_syllable)

data.head()

,text,year,name,title,score,level,title_name,vocab richness,meanWordSyllable
0,the question is asking that in the same discip...,2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...",0.232696,1.592617
1,our brains seek coherence structure and order ...,2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...,0.360864,1.767471
2,in american heritage dictionary of the english...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss...",0.413621,1.902824
3,the statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...,0.406739,1.820698
4,human are patternseeking animals because patte...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...,0.267023,1.581442

In [72]:
data.groupby("level")['meanWordSyllable'].mean()

level
1    1.713309
2    1.739935
3    1.763273
4    1.790097
5    1.752197
Name: meanWordSyllable, dtype: float64

In [73]:
data.groupby("level")['meanWordSyllable'].std()

level
1    0.108116
2    0.104785
3    0.094688
4    0.096833
5    0.061024
Name: meanWordSyllable, dtype: float64

In [94]:
import spacy 

# Splits the text into sentences, using  
# Spacy's sentence segmentation which can  
# be found at https://spacy.io/usage/spacy-101 
nlp = spacy.load('en') 

def break_sentences(text, nlp): 
    doc = nlp(text) 
    return doc.sents 
  
# Returns Number of Words in the text 
def word_count(text): 
    sentences = break_sentences(text,nlp) 
    words = 0
    for sentence in sentences: 
        words += len([token for token in sentence]) 
    return words 
  
# Returns the number of sentences in the text 
def sentence_count(text): 
    sentences = break_sentences(text,nlp) 
    return len(list(sentences))
  
# Returns average sentence length 
def avg_sentence_length(text): 
    words = word_count(text) 
    sentences = sentence_count(text) 
    average_sentence_length = float(words / sentences) 
    return average_sentence_length

In [ ]:
data['word_count'] = data.text.apply(word_count)

In [89]:
data['sentence_count'] = data.text.apply(sentence_count)

In [95]:
data['avg_sentence_length'] = data.text.apply(avg_sentence_length)

In [101]:
data.head()

,text,year,name,title,score,level,title_name,vocab richness,meanWordSyllable,word_count,sentence_count,avg_sentence_length
0,the question is asking that in the same discip...,2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...",0.232696,1.592617,1534,44,34.863636
1,our brains seek coherence structure and order ...,2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...,0.360864,1.767471,1582,14,113.000000
2,in american heritage dictionary of the english...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss...",0.413621,1.902824,1209,14,86.357143
3,the statement in the prompt argues that diffic...,2017,"8, 1 - James Li TOK_Essay_4th_draft.docx",1,8,4,It is only knowledge produced with difficulty ...,0.406739,1.820698,1678,29,57.862069
4,human are patternseeking animals because patte...,2017,"7, 6 - Fzn323_Amy_Wang_Qiaohui_G12_TOK_Essay_D...",6,7,4,Humans are pattern-seeking animals and we are ...,0.267023,1.581442,1500,18,83.333333

## Play with Fasttext

In [ ]:
# pip install fasttext

In [2]:
import pickle

In [37]:
with open("../essay_grader/pickle_data/df.pkl", "rb") as file:
        df = pickle.load(file)

In [38]:
df.head(1)

,text,year,name,title,score,level,title_name,vocab_richness,meanWordSyllable,word_count,sentence_count,avg_sentence_length,count_stopwords,reading_ease
0,the question is asking that in the same discip...,2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...",0.20936,1.540025,1525,94,16.223404,788,60.08

In [39]:
df.text = df.text.str.replace("\n","")

In [66]:
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import fasttext


# changed to FastText required format
train_df = df.iloc[:-50]
train_df['label_level'] = '__label__' + train_df['level'].astype(str)
train_df[['text','label_level']].to_csv('train.csv', index=None, header=None, sep='\t')


model = fasttext.train_supervised('train.csv', lr=1, wordNgrams=3, 
                                  verbose=2, minCount=1, epoch=25, loss="hs",dim=100)

/Users/katie/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
val_pred = [model.predict(x)[0][0].split('__')[-1] for x in df.iloc[-50:]['text']]
print(accuracy_score(df['level'].values[-50:].astype(str), val_pred))

0.52

In [ ]:
#wordNgrams= 2,  accuracy = 0.5
#wordNgrams= 3,  accuracy = 0.52

In [68]:
print(classification_report(df['level'].values[-50:].astype(str), val_pred))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         6
           2       0.52      1.00      0.68        26
           3       0.00      0.00      0.00        14
           4       0.00      0.00      0.00         4

   micro avg       0.52      0.52      0.52        50
   macro avg       0.13      0.25      0.17        50
weighted avg       0.27      0.52      0.36        50

In [50]:
import os
import sys
path = os.path.abspath('..')
sys.path.append(path)
from essay_grader.lemmatize import lemmatize

In [70]:
import os
import sys
path = os.path.abspath('..')
sys.path.append(path)

from essay_grader.text_feature import gen_text_feature

In [71]:
df.head(3)

,text,year,name,title,score,level,title_name,vocab_richness,meanWordSyllable,word_count,sentence_count,avg_sentence_length,count_stopwords,reading_ease,lemmatized_text
0,the question is asking that in the same discip...,2017,"4, 5 - Est_Chen-fzn235-TOK_essay.docx",5,4,2,"Given access to the same facts, how is it poss...",0.209360,1.540025,1525,94,16.223404,788,60.08,"[[the, question, be, ask, that, in, the, same,..."
1,our brains seek coherence structure and order ...,2017,"7, 6 - Eva GuoTOK_final_final_draft.docx",6,7,4,Humans are pattern-seeking animals and we are ...,0.344933,1.731380,1575,58,27.155172,724,32.80,"[[we, brain, seek, coherence, structure, and, ..."
2,in american heritage dictionary of the english...,2017,"7, 5 - fzn260_Yessica_Ji_Yuanyi_G12-9_TOKEssay...",5,7,4,"Given access to the same facts, how is it poss...",0.398082,1.861711,1208,41,29.463415,528,19.43,"[[in, american, heritage, dictionary, of, the,..."

In [ ]:
# vectorize the data